<%- include('../partials/Head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main class="my-10 mx-20 py-10 shadow-xl text-center">
      <h1 class="pt-[15px] text-4xl font-semibold">
        Here are our registered Homes:
      </h1>
    
     <section class="text-center flex justify-center gap-4 flex-wrap p-4">
      <% registerHome.forEach(home => { %>
        <div class="text-left text-emerald-950 w-[200px] h-auto shadow-lg rounded-tr-xl rounded-tl-xl overflow-hidden">
          <div>
            <img className="w-full" src=<%=home.image%> alt="home image" width="100%" height="auto"/>
          </div>
          <div class="px-4">
            <h2>houseName: <span class="font-bold"><%= home.houseName %></span></h2>
            <p>Price: <%= home.price %> <span class="text-red-500">per night</span></p>
          </div>
          <div class="flex justify-between px-4">
            <p class="font-bold"><%= home.location %></p>
            <p class="font-bold text-emerald-950"><%= home.rating %>⭐</p>
          </div>

          <div class="flex justify-between px-4 py-2">
            <a href="/home/<%= home.id %>" class="bg-blue-400 text-emerald-950 px-1 rounded mt-2 hover:bg-blue-300 transition duration-300 cursor-pointer">Details</a>
             <%- include('../partials/favorite', {home: home}) %>
          </div>
        </div>
      <% }) %>
     </section>
    </main>
  </body>
</html>
